.container {
	background-color: grey;
	padding-left: 60px;
	padding-right: 60px;
	position: relative;
}

.logo {
	position: absolute;
	border-radius: 50%;
	border: 1px solid black;
	max-height: 100%;
}

nav ul {
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
nav li {
    display: inline-block;
}

nav li::after{
	content:"|";
	margin-left: 5px;
}
.main-container{
	position: relative;
	margin: auto;
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	transform: translate(10%,50%);
}

.spacecat{
	position: relative;
	bottom: 100px;
	right: 100px;
	display: block;
	height:200px;
	width: 200px;
}

.spacedog{
	position: relative;
	bottom: 50px;
	left: 500px;
	display: block;
	height:200px;
	width: 200px;
}
body {
    background-image: url("../images/outerspace_landscape.jpeg");
    background-size: cover;
}